#SUPABASE (Backend)
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co

#anon key para el front end
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-aqui

#url del sitio
NEXT_PUBLIC_SITE_URL=http://localhost:3000