@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* theme colors */
/* amarillo: #f5ec3f */
/* azul: #2c439c */
/* verde: #82c341 */
/* rojo: #ee2e2b */
/* morado: #a3509e */
/* rosa: #e13d96 */

html, body {
  background-color: #f2f1ec;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

h1.tema {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2c439c;
  text-align: center;
  margin-bottom: 1.5rem;
}
p.carta-contador {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

